---
layout: default
my_number: 5
title: Home
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1>{{ "Hello World!" | capitalize }}</h1>
    <p>{{ page.my_number }}</p> 
</body>
</html>
